<html>
    <head>
        <title>Django Mans blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 10.02.2019, 07:20</p>
            <h2><a href="">Můj první příspěvek</a></h2>
            <p>Tak neviem co tu bolo napisane po spanielsky, ale ked som pretagoval nadpisy, tak uz mozem aj toto.</p>
        </div>

        <div>
            <p>published: 10.02.2019, 07:25</p>
            <h2><a href="">Můj druhý příspěvek</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
        </div>
    </body>
</html>
